{% extends "measurements/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">{% trans "Password Reset Sent" %}</h2>
                </div>
                <div class="card-body">
                    <p>{% trans "We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with." %}</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Return to Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 